// ------------------------------
// Teeth component --------------
// ------------------------------
$toothBg: #f4f7f9;
$toothBgActivePlastic: #fff7cc;
$toothBgActiveCeramic: #ffe4cc;
$toothBgActiveMetal: #ceccff;

$toothLine: #a9b5b8;
$toothLineActivePlastic: #ffec80;
$toothLineActivePlasticBridge: #ffd500;
$toothLineActiveCeramic: #ffbb80;
$toothLineActivePlastiCeramic: #ff7700;
$toothLineActiveMetal: #8480ff;
$toothLineActivePlastiMetal: #0800ff;

$teethSideHoverBg: #c0d7cd;
$teethSideActiveBg: #bfd7cd;

$teethCircleBg: orange;
$teethCircleLine: red;

$box-shadow-menu: -1px -6px 8px 0px rgba(34, 60, 80, 0.2) inset;
// ------------------------------
// End Teeth component ----------
// ------------------------------

// Colors
$textColor: #0d2f3d;
$separatorLine: #f5f7f9;
$priceColor: #c0d7cd;
$disabled: #666666;

$primary: #88b09f;
$primary-light: #c0d7cd;
$primary-dark: #35473f;
$secondary: #a9b5b8;
$tertiary: #bdccc5;
$dark: #96a7aa;
$light: #fafafa;
$accent: #f4f7f9;
$accent-main: #f18700;
// Modal
$modal-backdrop-bg: rgba(0, 0, 0, 0.699);
// Sizes
$configuratorBorderRadius: 10px;

$success: $primary;
